.expense-list-container {

    *,
    input,
    select {
        box-sizing: border-box;
    }

    position: relative;
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    top: 10px;

    .expense-search {
        width: 100%;

        input {
            width: 100%;
            padding: 8px 12px;
            border-radius: 8px;
            border: none;
            outline: none;
            cursor: pointer;
        }
    }

    ul {
        width: 100%;
        max-height: 300px;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .expense-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0px;
            border-bottom: 1px solid gray;

            &:last-child {
                border-bottom: none;
            }

            .expense-field {
                min-width: 140px;
                font-size: 0.9rem;
            }


        }

        .expense-inputs {
            width: 100%;
            display: flex;
            gap: 10px;

            select,
            input {
                padding: 6px 8px;
                border-radius: 8px;
                outline: none;
                border: none;
                height: 30px;
                width: 140px;
                cursor: pointer;


                &:focus {
                    outline: 2px solid gray;
                }
            }

        }

        .list-btns {
            display: flex;
            gap: 5px;

            .icons {
                font-size: 1.1rem;
                cursor: pointer;
            }

        }
    }

}

@media (max-width:699px) {
    .expense-list-container {
        width: calc(100% - 20px);

        ul {

            .expense-item {
                font-size: 0.7rem;
                gap: 5px;
                justify-content: flex-start;

                .date {
                    font-size: 0.6rem;
                }

                .expense-field {
                    min-width: 60px;
                    font-size: 0.8rem;
                }

            }

            .expense-inputs {
                flex-direction: column;


                input,
                select {
                    width: 100%;
                }
            }

            .list-btns {
                display: flex;
                margin-left: auto;

                .icons {
                    font-size: 0.9rem;
                    cursor: pointer;
                }

            }
        }
    }
}