.expense-form {
  *, input, select {
        box-sizing: border-box;
    }
    max-width: 660px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    .form-inputs {
        width: 100%;
        display: flex;
        gap: 5px;
      
        .input-group {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 90px;

            label {
                position: relative;
                left: 3px;
                bottom: 3px;

            }

            select,
            input {
                padding: 6px 8px;
                border-radius: 8px;
                outline: none;
                border: none;
                height: 30px;
                cursor: pointer;  
                

                &:focus {
                    outline: 2px solid gray;
                }
            }
        }
    }

    button {
        width: 100%;
        padding: 8px 12px;
        border-radius: 8px;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: gray;
        transition: background-color 0.3s;
        position: relative;
        top: 8px;

        &:hover {
            background-color: lighten(gray, 10%);
        }

        &.adding {
            background-color: green;
        }
        
    }
}

@media (max-width:699px) {
    .expense-form{
        width: calc(100% - 20px);
        .form-inputs {
            flex-direction: column;

            .input-group {

                label{
                    font-size: 0.9rem;
                }
                select,input {
                    height: 28px;
                }
            }
        }
    }
}