.expense-tracker-container {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 4px 12px gray;
    padding: 10px;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 10px;
        margin-top: 10px;

        h2 {
            font-size: 2rem;
        }

        p {
            padding-top: 5px;
            font-size: 1rem;
        }
    }
}

@media (max-width:699px) {

    .expense-tracker-container {
        width: calc(100% - 30px);

        .title {
            font-size: 1.5rem;

            p {
                font-size: 0.9rem;
            }
        }
    }
}